.login-page {
    width: 100vw;
    height: 100vh;
    background: url('../images/login-bg.jpg') center center / cover no-repeat;
}

.login-form {
    max-width: 300px;
    min-width: 300px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}

.login-card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}